.Post {
    background-color: #fff;
    border-radius: 15px;
    margin-bottom: 32px;
    position: relative;
    overflow: hidden;
}

.Card {
    padding: 16px;
    background-color: #ffcf00;
}

.Title {
    color: #000000;
    margin: 0px;
}
