.Post {
    background-color: #fff;
    border-radius: 15px;
    margin-bottom: 32px;
    position: relative;
    overflow: hidden;
}


.CountNumber {
    color: #fff;
}

.Card {
    padding: 16px;
    background-color: #000;
}

.Title {
    color: #fff;
    margin: 0px;
}
